div.footer {
    height: 3px;
    padding: 0;
}
figure.image.container {
    width: 100%;
 }

 /* <article class="message is-danger is-small"> */

 /* article.message.is-danger.is-small {
     display: none;
 } */